{% extends 'base.html.twig' %}

{% block menu %}
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Mini Game</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Игра</a></li>
                    <li><a href="#" id="resetGame">Начать заново</a></li>
                    <li><a href="#" id="getLeaders">Список лидеров</a></li>
                    <li><p class="navbar-text navbar-left" id="state">
                            <i class='glyphicon glyphicon-refresh loader'></i>
                            <span>Подождите, идёт загрузка игры...</span>
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="cubes"></div>
            <div id="scoreContainer">
                <div class="well well-sm" id="score"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block winModal %}
    <div class="modal fade" id="winModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Поздравляем!</h4>
                </div>
                <div class="modal-body">
                    <form role="form">
                        <div class="form-group">
                            <label for="userName">Введите ваше имя:</label>
                            <input type="text" class="form-control" id="userName" placeholder="Имя">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    <button type="button" class="btn btn-primary" id="saveWinner">Сохранить изменения</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock %}

{% block leadersModal %}
    <div class="modal fade" id="leadersModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Список лидеров</h4>
                </div>
                <div class="modal-body">
                    <table class="table" id="leadersTable">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Имя</th>
                            <th>Кол-во ходов</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/bootstrap-theme.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}

{% block gamejs %}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="{{ asset('js/bootstrap.js') }}"></script>
    <script src="{{ asset('js/game.js') }}"></script>
    <script>
        $('#mainContainer').game();
    </script>
{% endblock %}