body{
    padding-top: 70px;
}

#mainContainer{
 border: 2px solid black;
}

#cubes{
    position: relative;
}

#cubes .cube{
    width: 100px;
    height: 100px;
    border: 1px solid #000000;
    float: left;
    cursor: pointer;
}

#cubes .cube:hover{
    border-color: #ff0000;
}

#cubes .cube.inactive{
    background-color: #1b6d85;
}

#cubes .cube.active{
    background-color: #3e8f3e;
}

.clearfix{
    clear: both;
}

.loader {
    animation: spin 2s linear infinite;
    margin-right: 10px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#state{
    display: none;
}

#resetGame.animated{
    animation: flash 2s linear infinite;
}

@keyframes flash {
    0% { color: #777 }
    50% { color: #FF0000 }
    100% { color: #777 }
}
